#
#Fri Dec 03 10:52:14 ARST 2010
org.coocox.codebugger.gdbjtag.core.resetMode=SYSRESETREQ
org.coocox.codebugger.gdbjtag.core.debugMode=SWD
org.coocox.codebugger.gdbjtag.core.defaultAlgorithm=C\:/CooCox/CoIDE/flashDownload/FlashAlgorithm/LPC11xx_32.elf
org.coocox.codebugger.gdbjtag.core.downloadFuction=Erase Effected
org.coocox.codebugger.gdbjtag.core.ifCacheRom=true
org.coocox.codebugger.gdbjtag.corerunToMain=true
org.coocox.codebugger.gdbjtag.core.clockDiv=1M
org.coocox.codebugger.gdbjtag.core.adapter=ColinkEx
